# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true

dotnet_sort_system_directives_first = true

# See https://github.com/dotnet/format/blob/master/docs/Supported-.editorconfig-options.md for reference
csharp_new_line_before_open_brace = all
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_between_query_expression_clauses = true